
<div  width="400px">
 <h2>All un-expidated orders</h2>
<table>
  <thead>
  <tr>
    <th>Order</th>
    <th>View order</th>
    <th>Expidite</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of unExpitadedOrderList">
    <td>{{order.id}}</td>
    <td> <button>Open</button></td>
    <td><button (click)="expedite(order.id)">O</button></td>
  </tr>
  </tbody>
</table>
</div>
<div >
 <h2>All expidated orders</h2>
 <table>
   <thead>
   <tr>
     <th>Order</th>
     <th>View order</th>
   </tr>
   </thead>
   <tbody>
   <tr *ngFor="let order of expitadedOrderList">
     <td>{{order.id}}</td>
     <td> <button>Open</button></td>

   </tr>
   </tbody>
 </table>
</div>
